<div class="container">
    <div class="row">
        <img src="helplit_logo.png">

        <h2>Resultado Análise de Perfil Comportamental </h2>
        <br>
        <h4>Elemento principal: {{ elemento_principal }}</h4>
        <h4>Elemento secundário: {{ elemento_secundario }}</h4>
        <div style="text-align: center;">
            <img src="elements.png">
        </div>

        <br>
        <h4>ÁGUIA - Criatividade e Liberdade: {{ I }}%</h4>
        <p>
            <b>Seu lema é:</b> 'Fazer Diferente'. É criativo. intuitivo. tem foco no futuro, distraído, curioso,
            informal, casual e flexível
            <br><b>Pontos Fortes:</b> Provoca mudanças radicais, antecipa o futuro e a criatividade.
            <br><b>Pontos de melhoria:</b> Falta de atenção no aqui e agora, impaciência, rebeldia e defender o novo
            pelo novo.
            <br><b>Motivações:</b> Liberdade de expressão, ausência de controles rígidos, ambiente de trabalho
            descontraído, liberdade para fazer exceções e oportunidades para delegar tarefas e detalhes.
        </p>
        <br><br>
        <h4>GATO - Felicidade e Igualdade: {{ C }}%</h4>
        <p>
            <b>Seu lema é:</b> 'Fazer Junto'. É sensível, gosta de relacionamentos, de times, é tradicionalista, busca
            harmonia e delega autoridade.
            <br><b>Pontos Fortes:</b> Comunicação, manter a harmonia, desenvolver e manter a cultura empresarial e
            comunicação aberta.
            <br><b>Pontos de melhoria:</b> esconder conflitos, felicidade acima dos resultados, manipulação através dos
            sentimentos.
            <br><b>Motivações:</b> Segurança, aceitação social, construir o consenso, reconh ecimento da equipe,
            supervisão compreensiva, ambiente harmonico e trabalho em grupo.
        </p>
        <br><br>
        <h4>TUBARÃO - Foco em resultados: {{ A }}%</h4>
        <p>
            <b>Seu lema é:</b> 'Fazer rápido'. Tem senso de urgência, ação, iniciativa, é impulsivo, prático, gosta de
            vencer desafios, focado no aqui e agora. É auto-suficiente e não gosta de delegar poder.
            <br><b>Pontos Fortes:</b> Fazer acontecer, parar com a burocracia e a motivação.
            <br><b>Pontos de melhoria:</b> socialmente um desastre, faz do modo mais fácil e relacionamento complicado.
            <br><b>Motivações:</b> Liberdade para agir individualmente, controle das próprias atividades, resolver os
            problemas do seu jeito, competição individual, variedade de atividades e não ter que repetir tarefas.
        </p>
        <br><br>
        <h4>LOBO - Ordem e controle: {{ O }}%</h4>
        <p>
            <b>Seu lema é:</b> 'Fazer Certo'. É detalhista, organizado, estrategista, busca conhecimento, pontual,
            conservador e previsível.
            <br><b>Pontos Fortes:</b> Organização. Consciência, conformidade e qualidade. Lealdade e segurança. Regras e
            responsabilidades.
            <br><b>Pontos de melhoria:</b> dificuldades de se adaptar as mudanças. Pode impedir o progresso. Detalhista,
            estruturado e demasiadamente sistematizado.
            <br><b>Motivações:</b> Compreensão exata de quais são as regras. Conhecimento específico do trabalho.
            Ausência de riscos e erros. Ver o produto acabado: começo, meio e fim.
    </div>
</div>